<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Hello There</b>
</body>
</html>

<!---This file was used to differentiate between Template.Execute and
Template.ExecuteTemplate and help me understand how they both work. Execute 'executes' 
the very first parsed file while ExecuteTemplate lets you specify what html file you want to
execute at that point. Execute works if you're working on just one html file. But ExecuteTemplate
is said to be advisable when working with multiple html files.-->
