<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
    <h2>ASCII Art Generator</h2>
    <form action="/ascii-art" method="post" target="_self">
        <label class="form-label" for="text">Type text here</label>
        <textarea name="text" id="text" placeholder="Enter Text" required>{{.Text}}</textarea>
       <label class="form-label" for="banner">Choose Banner Style</label>
        <input type="radio" name="banner" id="standard" value="standard" checked>
        <label for="standard">Standard</label><br>
        <input type="radio" name="banner" id="shadow" value="shadow" >
        <label for="shadow">Shadow</label><br>
        <input type="radio" name="banner" id="thinkertoy" value="thinkertoy">
        <label for="thinkertoy">Thinkertoy</label><br>

        <button type="submit">Generate</button>
    </form>
    <p><strong>Result:</strong></p>
    <pre id="output">{{.Result}}</pre>
     </div>
</body>
</html>