    body {
    background-color: #f0f0f0;
    font-family: system-ui, sans-serif;
}
       .container {
    max-width: 600px;
    margin: 40px auto 0 auto;
     padding: 20px; 
    background-color: white;
    padding: 32px;
    border-radius: 8px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}


p {
    margin-bottom: 0;
}
button {
    background-color: blueviolet;
    margin-top: 16px;
    padding: 10px 24px;
    border-radius: 4px;
    border: none;
    color: white
}

button:hover {
    cursor: pointer;
    background-color: darkmagenta;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

textarea:focus {
    outline: none;
    border: 2px solid blueviolet;
}
 #output {
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
